.task {
  width: 100%; /* fill the column’s inner width */
  box-sizing: border-box;
  min-height: 88px;
  height: auto;
  background-color: var(--editborad-bg);
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  transition: border-color 0.2s ease;
  gap: 8px;
  flex-shrink: 0;

  &:hover {
    border-color: #969696;
  }
  &:hover .task-title {
    color: #635fc7;
  }
}

.task-title {
  font-size: 14px;
  font-weight: bold;
  color: var(--input-color);
  white-space: normal;
  word-break: break-word;
  margin-bottom: auto;
}

.task-subtasks {
  font-size: 12px;
  font-weight: bold;
  color: var(--editborad-color);
  margin-top: auto;
}

/*  responsive  */

@media (max-width: 768px) {
  .task {
    min-height: 75px;
    padding: 10px;
    gap: 6px;
  }

  .task-title {
    font-size: 12px;
    margin-bottom: 4px;
  }

  .task-subtasks {
    font-size: 11px;
  }
}

@media (max-width: 1024px) {
  .task {
    min-height: 80px;
    padding: 10px;
  }

  .task-title {
    font-size: 13px;
    margin-bottom: 6px;
  }
}

@media (max-width: 480px) {
  .task {
    min-height: 70px;
    padding: 8px;
    gap: 4px;
  }

  .task-title {
    font-size: 11px;
    line-height: 1.3;
  }

  .task-subtasks {
    font-size: 10px;
  }
}
