.task {
  position: relative;
  width: 280px;
  height: 88px;
  background-color: var(--editborad-bg);
  border-radius: 6px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: 1px solid transparent;

  &:hover {
    border-color: #969696;
  }
}

.task-title {
  position: absolute;
  bottom: 23px;
  font-size: 14px;
  font-weight: bold;
  color: var(--input-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-subtasks {
  position: absolute;
  top: 50px;
  font-size: 12px;
  font-weight: bold;
  color: var(--editborad-color);
  margin-top: 4px;
}
