.btn {
  border: transparent;
  font-weight: bold;
  cursor: pointer;
}

.btn.primary {
  background: #635fc7;
  color: white;
}

.btn.secondary {
  background: #d9d9d9;
  color: #635fc7;
}

.btn.destructive {
  background: #ea5555;
  color: white;
}

.btn.primary:hover {
  background: #a8a4ff;
  color: white;
}

.btn.secondary:hover {
  background: #d9d9d9;
  color: #635fc7;
}

.btn.destructive:hover {
  background: #ff9898;
  color: white;
}

.btn.sm {
  height: 40px;
  border-radius: 20px;
  font-size: small;
}

.btn.lg {
  height: 48px;
  border-radius: 24px;
  font-size: medium;
}

.sh {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.scope {
  width: 174px;
}
.scope_2 {
  width: 164px;
}
.scope_3 {
  width: 416px;
  height: 40px;
}
.off {
  opacity: 0.5;
  cursor: not-allowed;
}
