.Main {
  background-color: var(--main-bg);
  flex-grow: 1;
  color: var(--main-color);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
}

.empty-text {
  color: #828fa3;
  font-size: large;
  line-height: 18px Line;
  font-weight: bold;
}
.columns-container {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  padding-bottom: 16px;
}

.New-Column {
  position: relative;
  top: 63px;
  width: 280px;
  height: 1014px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--newColumn-btn-color);
  color: #828fa3;
  font-size: 24px;
  border-radius: 6px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 3px 10px rgba(0, 0, 0, 0.12);
  font-weight: bold;
  cursor: pointer;
}

.New-Column:hover {
  color: #635fc7;
}
