.TaskModal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.TaskModal-content {
  position: relative;
  background-color: var(--editborad-bg);
  color: var(--editborad-color);
  border-radius: 6px;
  width: 480px;
  height: 523px;
}

.TaskModal-close:hover,
.TaskModal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.TaskModal-title {
  color: var(--modalTile-color);
  font-size: large;
  font-weight: bold;
  padding-left: 27px;
  padding-top: 34px;
}
.TaskModal-description {
  font-size: 13px;
  font-weight: bold;
  color: var(--editborad-color);
  line-height: 23px;
  padding-left: 32px;
}
.list {
  position: absolute;
  left: 353px;
  background-color: var(--menuItems-bg);
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 192px;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  height: auto;
  overflow: hidden;
}
.Operation {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}
.ovals {
  position: absolute;
  bottom: 56px;
  padding: 8px;
  background: none;
  border: none;
  cursor: pointer;
}
.Operations {
  position: relative;
  z-index: 5;
}
