.TaskModal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.TaskModal-wrapper {
  position: relative;
  width: 480px;
  background-color: var(--editborad-bg);
  border-radius: 6px;
  height: 523px;
}

.TaskModal-close:hover,
.TaskModal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.TaskModal-title {
  color: var(--modalTile-color);
  font-size: large;
  font-weight: bold;
  padding-left: 32px;
  padding-top: 34px;
  white-space: normal;
  word-break: break-word;
  max-width: 420px;
}
.TaskModal-description {
  font-size: 13px;
  font-weight: 500;
  color: var(--editborad-color);
  line-height: 23px;
  padding-left: 32px;
  white-space: normal;
  word-break: break-word;
  max-width: 416px;
}
.TaskModal-Subtasks {
  font-size: 14px;
  font-weight: bold;
  color: var(--editborad-color);
  padding-left: 32px;
  margin-top: 20px;
  font-size: 14px;
}

.Subtasks-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 8px;
  padding-left: 32px;
}
.subTask-item {
  width: 416px;
  height: 40px;
  background-color: rgba(99, 95, 199, 0.25);
  border-radius: 4px;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease;
  padding-left: 12px;

  input[type="checkbox"] {
    margin-right: 12px;
    color: #635fc7;
    transform: scale(1.2);
    cursor: pointer;
  }
  label {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
  }
  .subtask-text {
    font-weight: 700;
    font-size: 12px;
    user-select: none;
  }

  &.completed {
    background-color: var(--subtask-modal-color);

    .subtask-text {
      color: var(--input-color);
      text-decoration: line-through;
    }
  }
}

.list {
  position: absolute;
  top: 120px;
  right: -52px;
  background-color: var(--menuItems-bg);
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 192px;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  height: auto;
  overflow: hidden;
}
.Operation {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}
.ovals {
  position: absolute;
  top: 70px;
  right: 32px;
  background: none;
  border: none;
  cursor: pointer;
  right: 32px;
}
.Operations {
  position: relative;
  z-index: 5;
}
