* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}
/* html element*/
:root {
  --main-bg: #F4F7FD;
  --side-bg: white;
  --head-bg: white;
  --create-bg: white;
  --editborad-bg: #fefefe;
  --editborad-color: #828fa3;
  --modalTile-color: black;
  --head-border: 1px solid #f4f7fd;
  --side-border: 1px solid #f4f7fd;
  --kanban-color: rgb(0, 0, 0);
  --switch-container-color:#f4f7fd;
  --menuItems-bg: white;
  --side-hide-hover:#a8a4ff;
  --board-hover:#d8d7f1;
  --field-addnewtask-color:white;
  --input-color:black;
  --newColumn-btn-color:#e9effa;
  --scrollbar-main-color:rgba(0, 0, 0, 0.1);
  --subtask-modal-color:#f4f7fd;
}
:root.dark {
  --main-bg: #20212c;
  --side-bg: hsl(235, 12%, 19%);
  --head-bg: hsl(235, 12%, 19%);
  --create-bg:hsl(235, 12%, 19%);
  --editborad-bg: hsl(235, 12%, 19%);
  --head-color: white;
  --main-color: white;
  --kanban-color: white;
  --editborad-color: white;
  --modalTile-color: #ffffff;
  --head-border: 1px solid #20212c;
  --side-border: 1px solid #20212c;
  --switch-container-color:#20212C;
  --menuItems-bg: #20212C;
  --side-hide-hover:white;
  --board-hover:white;
  --field-addnewtask-color:#2B2C37;
  --input-color:white;
  --newColumn-btn-color: hsl(235, 12%, 19%);
  --scrollbar-main-color:white;
  --subtask-modal-color:#20212C;
}
body {
  margin: 0;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* .left {
  width: 300px;
} */
.content {
  display: flex;
  flex-grow: 1;
  height: calc(100vh - 96px); 
}
.right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}
a {
text-decoration: none;
color:inherit ;
}

@media (max-width: 1024px) {
  .content {
    flex-direction: column;
    height: auto;
  }

  .right {
    width: 100%;
    flex: 1;
  }
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    padding: 0 8px;
  }

  .app {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .content {
    flex-direction: column;
    height: auto;
  }

  .right {
    padding: 0;
    width: 100%;
  }
}
/* justify-content = horizontal (column), vertical (row)
/* align-items= horizontal (row), vertical (column)

